h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.banner {
  font-family: 'Pacifico', cursive;
  height: 400px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.banner .slogan {
  position: absolute;
  border: 4px solid black;
  top: 200px;
  left: 25%;
  width: 50%;
  height: 200px;
  text-align: center;
}

.banner .slogan span {
  font-size: 40px;
  line-height: 200px;
  color: red;
}
